/* 
 * 2. Styles for large screens
 */

#mqSmall, #mqMedium {color:#aaa}
#mqLarge {color:#000}

#logo {
	float: left;
	position: relative;
	text-align: left;
	margin: 0;
	padding: 0.6em 0.6em 0.2em 0;
}

#navbar nav {
	float: right;
	position: relative;
	margin: 1em 0;
}
#navbar nav ul {
	height: 1em;
}
#navbar nav ul li {
	font-size: 1.2em;
	display: inline;
	margin-left: 1em;
}

#container {
	width: 940px;
}

.page {
	margin: 0;
    width: 100%;
}

.col2 {
	float: left;
	position: relative;
	width: 28.75em;
}
.col2:first-child {
	margin-right: 1.25em;
}
.col3 { 
	float: left;
	position: relative;
	width: 18.75em;
	margin-right: 1.25em;
}
.col3:last-child {
	margin-right: 0;
}

.homebox {
	border-bottom: 10px solid #8c8c8c;
	margin-bottom: 1em;
	position: relative;
	
	height: 330px;
}
.homebox p {
	margin: 0 0 .5em 0;
}
.homebox.work img {
	position: absolute;
	bottom: 0;
}
.footer {
	width: 100%;
	padding: 0;
}
.footer .social-links, .footer .copyright {
	position: relative;
	width: 40%;
}
.footer .social-links {
	float: left;
}
.footer .copyright {
	float: right;
	text-align: right;
}

/* 
 * medium single-column
 */
@media screen and (min-width: 30em) and (max-width: 63.236em) {

	#logo {
		margin-top: .2em;
		width: 42%;
	}
	#logo img {
		max-width: 100%;
	}

	#container {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.col2 {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.col3 {
		float: none;
		width: 100%;
		margin: 0 0 1em;
		padding: 0 0 2em;
	}
	.col3 > div img {
	    xfloat: left;
	    xposition: relative;
	    margin: 0 0 0.25em;
	}
	.col3 a, .col3 h3 {
		margin-left: 0;
	}
	.col3 p {
		max-width: 36em;
		padding: 0;
	}

	.homebox {
		height: auto;
	}
	.homebox.work {
		min-height: 300px;
	}
	.homebox p {
		max-width: 32em;
	}
	
	#mqSmall, #mqLarge {color:#aaa}
	#mqMedium {color:#000}

}






