@font-face {
    font-family: '../fonts/ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------
 * Default tag elements
 * ------------------------------------------------------------------------------ */
 
body {
    background: #eaeaea url(../img/ui/page-bg.png) repeat-x top;
    /*font-family: Georgia, 'Times New Roman', serif;*/
    font-family: 'PT Sans', Arial, sans-serif;
    color: #494949;
}

a {
    color: #4199bd;
    text-decoration: none;
}
a:hover {
    color: #53a049;
}
a:active {
    color: #4199bd;
}

a.cta {
    margin: 0 0.25em;
    background: #4199bd;
    color: #fff;
    font-weight: bold;
    margin-left: 1.25em;
    padding: 0 0.25em;
}
a.cta:hover {
    background: #53a049;
}

hr {
    color: #67cb5a;
    background: #67cb5a;
    border: #67cb5a;
}

/* ---------------------------------------------------------------------------------
 * Core structural classes and elements
 * ------------------------------------------------------------------------------ */
 
#container {
    margin: 0 auto;
}

#navbar {
    width: 100%;
    margin-bottom: 2em;
}
#navbar li {
	font-size: 2em;
	width: 100%;
	text-align: center;
}
#navbar a:hover, #navbar a.selected {
    color: #fff;
}
#logo {
    padding: 0.6em 0;
    margin-bottom: 0.6em;
    text-align: center;
}
#logo img {
	max-width: 80%;
}

#navbar nav {
    padding: 0; 
    margin: 1.3em 0 0 0;
    font-family: '../fonts/ChunkFiveRegular';
}
#navbar nav ul {
    padding: 0;
    margin: 0;
}

.page {
    margin: 0 auto;
    width: 90%;
}

.col3 {
    background: #fff;
    margin-bottom: 1em;
    padding-bottom: 2em;
}

.col3 h2 {
    font-family: '../fonts/ChunkFiveRegular';
    padding: 0.9em 0.6em 0.6em;
    font-size: 1.9em;
    margin: 0 0 1.0em 0;
}
.col3.articles h2 {
    background: #67cb5a;
}

.col3 > div {
    border-bottom: 1px solid #93e288;
    padding-bottom: 1.25em;
    margin-bottom: 1.25em;
}
.col3 > div > div {
    padding: 0 1.25em;
}

.col3 p {
    padding: 0 1.25em;
    margin: 0.2em 0 0.5em;
    line-height: 118%;
}
.col3 h3 {
    font-size: 1.0em;
    margin: 0.25em 0 0.25em 1.25em;
}
.col3 div > p.summary {
    margin-bottom: 1em;
}

.footer {
    font-family: Arial, sans-serif;
    width: 90%;
    margin: 0 auto 2em auto;
}
.footer div {
    font-size: 0.7em;
}

/* ---------------------------------------------------------------------------------
 * Shared custom styles
 * ------------------------------------------------------------------------------ */


/* ---------------------------------------------------------------------------------
 * Home page only
 * ------------------------------------------------------------------------------ */

.homebox {
    background: #fff;
    padding: 1.25em;
    margin-bottom: 1em;
}
/* box background colors */
.homebox.articles {
    background: #82c158;
}
.homebox.photography {
    background: #9b1700;
}
.homebox.work {
    background: #f7941d;
    padding: 1.2em 0 0 0;
    overflow: hidden;
}
.homebox.work > div {
    padding: 0 1.25em 1.25em;
}

/* box headers */
.homebox h2 {
    font-size: 2.0em;
    font-family: '../fonts/ChunkFiveRegular';
    color: #545454;
    padding: 0;
    margin: 0;
}
.homebox.photography h2 {
    color: #fff;
}


@media screen and (max-width: 33.125em) {

    #navbar nav a {
        display: block;
        margin: .3em 5%;
        width: 90%;
        padding: .1em .4em;
        background: #d2d2d2;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
    }

}








/*
 * TESTING ONLY
 * @TODO Delete this code
 */
#mqSmall {color:#000;}
#mqMedium, #mqLarge {color:#aaa;}
