@font-face {
    font-family: '../fonts/ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------------------
 * Default tag elements
 * ------------------------------------------------------------------------------ */
 
body {
    background: #eaeaea url(../img/ui/page-bg.png) repeat-x top;
    font-family: Georgia, 'Times New Roman', serif;
    color: #494949;
}

a {
    color: #4199bd;
    text-decoration: none;
}
a:hover {
    color: #53a049;
}
a:active {
    color: #4199bd;
}


/* ---------------------------------------------------------------------------------
 * Core structural classes and elements
 * ------------------------------------------------------------------------------ */
 
#container {
    margin: 0 auto;
}

#navbar {
    width: 100%;
    margin-bottom: 2em;
}
#navbar li {
	font-size: 2em;
	width: 100%;
	text-align: center;
}
#navbar a:hover, #navbar a.selected {
    color: #fff;
}
#logo {
    padding: 0.6em 0;
    margin-bottom: 0.6em;
    text-align: center;
}
#logo img {
	max-width: 80%;
}

#navbar nav {
    padding: 0; 
    margin: 1.3em 0 0 0;
    font-family: '../fonts/ChunkFiveRegular';
}
#navbar nav ul {
    padding: 0;
    margin: 0;
}

.page {
    margin: 0 auto;
    width: 90%;
}


.footer {
    font-size: 0.8em;
    width: 90%;
    margin: 0 auto 2em auto;
}





/* ---------------------------------------------------------------------------------
 * Home page only
 * ------------------------------------------------------------------------------ */

.homebox {
    background: #fff;
    padding: 1.25em;
}
/* box background colors */
.homebox.articles {
    background: #82c158;
}
.homebox.photography {
    background: #9b1700;
}
.homebox.work {
    background: #f7941d;
    padding: 1.2em 0 0 0;
    overflow: hidden;
}
.homebox.work > div {
    padding: 0 1.25em 1.25em;
}

/* box headers */
.homebox h2 {
    font-size: 2.0em;
    font-family: '../fonts/ChunkFiveRegular';
    color: #545454;
    padding: 0;
    margin: 0;
}
.homebox.photography h2 {
    color: #fff;
}


@media screen and (max-width: 30em) {

    #navbar nav a {
        display: block;
        margin: .3em 5%;
        width: 90%;
        padding: .1em .4em;
        background: #d2d2d2;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
    }

}








/*
 * TESTING ONLY
 * @TODO Delete this code
 */
#mqSmall {color:#000;}
#mqMedium, #mqLarge {color:#aaa;}
